<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="container">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Welcome to Hotel Chatting System</h2>

          <div class="chat-container">
            <!-- Display chat messages -->
            <div class="message d-flex position-relative"
                  *ngFor="let message of messages"
                  [ngClass]="{'justify-content-start': message.sender === 'bot', 'justify-content-end': message.sender === 'user'}">
              <div class="message-content rounded mb-3 position-relative"
                  [ngClass]="{'bot-message': message.sender === 'bot', 'user-message': message.sender === 'user'}">
                <span class="text-start">{{ message.text }}</span>
              </div>
              <div *ngIf="noRegion === 1">
                <button class="btn btn-sm border-warning rounded mt-2" (click)="returnStep()"><i class="fas fa-step-backward fa-sm text-warning fa-fw"></i></button> &nbsp;
              </div>
            </div>

            <!-- Display options initially -->
            <div *ngIf="currentStep === 0" class="row g-3">
              <div class="col-md-6">
                <div
                  class="card h-100 cursor-pointer hover-shadow"
                  (click)="chooseOption('Booking')"
                >
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Booking <i class="fas fa-link fa-xm fa-fw text-primary"></i> </h5>
                    <p class="card-text">Start booking a room</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="card h-100 cursor-pointer hover-shadow"
                  (click)="chooseOption('Complaints/Inquiry')"
                >
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Complaints/Inquiry <i class="fas fa-link fa-xm fa-fw text-primary"></i> </h5>
                    <p class="card-text">Submit a complaint or inquiry</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Booking process -->
            <div *ngIf="userChoice === 'Booking'" class="mt-4">
              <form [formGroup]="userForm" class="needs-validation" novalidate>
                <!-- Step 1: Enter Region -->
                <div *ngIf="currentStep === 1" class="mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    [ngClass]="{
                      'is-invalid': userForm.get('region')?.invalid && (userForm.get('region')?.dirty || userForm.get('region')?.touched),
                      'is-valid': userForm.get('region')?.valid && (userForm.get('region')?.dirty || userForm.get('region')?.touched)
                    }"
                    placeholder="Enter Region"
                    formControlName="region"
                    (input)="searchRegion($event)"
                    (keyup.enter)="nextStep()"
                    required

                  />
                  <div class="invalid-feedback">
                    <div *ngIf="userForm.get('region')?.errors?.['required']">Region is required.</div>
                    <div *ngIf="userForm.get('region')?.errors?.['minlength']">Region must be at least 4 characters long.</div>
                  </div>
                  <!-- Dropdown for displaying filtered region suggestions -->
                  <ul *ngIf="filteredRegions.length > 0" class="list-group mt-2">
                    <li *ngFor="let region of filteredRegions"
                        class="list-group-item list-group-item-action"
                        id="regionInput"
                        (click)="selectRegion(region)">
                      {{ region.name }}
                    </li>
                  </ul>

                  <button class="btn btn-sm btn-primary mt-2" [disabled]="userForm.get('region')?.invalid" (click)="nextStep()">Next</button>
                <button class="btn btn-sm border-warning rounded mt-2" (click)="returnStep()"><i class="fas fa-step-backward fa-sm text-warning fa-fw"></i></button> &nbsp;

                </div>


                <!-- Step 2: Enter Dates -->
                <div *ngIf="currentStep === 2" class="mb-3">
                  <label for="startDate" class="form-label">Start Date</label>
                  <input
                    type="date"
                    id="startDate"
                    class="form-control form-control-sm"
                    [ngClass]="{'is-invalid': userForm.get('startDate')?.invalid && (userForm.get('startDate')?.dirty || userForm.get('startDate')?.touched),
                      'is-valid': userForm.get('startDate')?.valid && (userForm.get('startDate')?.dirty || userForm.get('startDate')?.touched)
                    }"
                    formControlName="startDate"
                    [min]="minDate"
                    required
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="userForm.get('startDate')?.errors?.['required']">Start date is required.</div>
                    <div *ngIf="userForm.get('startDate')?.errors?.['pastDate']">Start date cannot be in the past.</div>
                  </div>

                  <label for="endDate" class="form-label mt-3">End Date</label>
                  <input
                    type="date"
                    id="endDate"
                    class="form-control form-control-sm"
                    [ngClass]="{'is-invalid': userForm.get('endDate')?.invalid && (userForm.get('endDate')?.dirty || userForm.get('endDate')?.touched),
                    'is-valid': userForm.get('endDate')?.valid && (userForm.get('endDate')?.dirty || userForm.get('endDate')?.touched)
                    }"
                    formControlName="endDate"
                    [min]="minEndDate"
                    [max]="maxEndDate"
                    [attr.disabled]="!userForm.get('startDate')?.value ? '' : null"
                    required
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="userForm.get('endDate')?.errors?.['required']">End date is required.</div>
                    <div *ngIf="userForm.get('endDate')?.errors?.['pastDate']">End date must be after the start date.</div>
                    <div *ngIf="userForm.get('endDate')?.errors?.['futureDate']">End date cannot be more than 30 days after the start date.</div>
                  </div>
                  <div *ngIf="userForm.errors?.['dateRangeInvalid']" class="text-danger small mt-1">
                    End date must be after start date.
                  </div>
                  <button class="btn btn-sm border-warning rounded mt-2" (click)="returnStep()"><i class="fas fa-step-backward fa-sm text-warning fa-fw"></i></button> &nbsp;
                  <button
                    class="btn btn-sm btn-primary mt-2"
                    [disabled]="userForm.get('startDate')?.invalid || userForm.get('endDate')?.invalid || userForm.errors?.['dateRangeInvalid']"
                    (click)="nextStep()"
                  >
                    Next
                  </button>
                </div>

                <!-- Step 3: Select Hotel -->
              <div *ngIf="currentStep === 3" class="mb-3">
                <ul class="list-group">
                  <li
                    class="list-group-item cursor-pointer"
                    *ngFor="let hotel of hotels"
                    (click)="selectHotel(hotel.hotel_id)"
                  >
                    <h5>{{ hotel.hotel_name }}</h5>
                    <div *ngFor="let room of hotel.rooms">
                      <p>{{ room.type }} room - ${{ room.price }} (Available: {{ room.available_rooms }} rooms)</p>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- Step 4: Select Room Type -->
              <div *ngIf="currentStep === 4" class="mb-3">
                <button class="btn btn-sm border-warning rounded m-2" (click)="returnStep()"><i class="fas fa-step-backward fa-sm text-warning fa-fw"></i></button> &nbsp;
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center cursor-pointer"
                    *ngFor="let room of rooms"
                  >
                    <span>{{ room.type }} room - ${{ room.price }}</span>
                    <button
                      class="btn btn-primary"
                      (click)="selectRoom(room.id)"
                    >
                      Choose
                    </button>
                  </li>
                </ul>
              </div>

                <!-- Step 5: Enter Personal Details -->
                <div *ngIf="currentStep === 5" class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control form-control-sm"
                    [ngClass]="{'is-invalid': userForm.get('firstname')?.invalid && (userForm.get('firstname')?.dirty || userForm.get('firstname')?.touched),
                      'is-valid': userForm.get('firstname')?.valid && (userForm.get('firstname')?.dirty || userForm.get('firstname')?.touched)
                    }"
                    formControlName="firstname"
                    required
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="userForm.get('firstname')?.errors?.['required']">First name is required.</div>
                    <div *ngIf="userForm.get('firstname')?.errors?.['minlength']">First name must be at least 4 characters long.</div>
                  </div>

                  <label for="lastName" class="form-label mt-3">Last Name</label>
                  <input
                    type="text"
                    id="lastName"
                    class="form-control form-control-sm"
                    [ngClass]="{'is-invalid': userForm.get('lastname')?.invalid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched),
                      'is-valid': userForm.get('lastname')?.valid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched)
                    }"
                    formControlName="lastname"
                    required
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="userForm.get('lastname')?.errors?.['required']">Last name is required.</div>
                    <div *ngIf="userForm.get('lastname')?.errors?.['minlength']">Last name must be at least 4 characters long.</div>
                  </div>

                  <label for="email" class="form-label mt-3">Email</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-sm"
                    [ngClass]="{'is-invalid': userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched),
                      'is-valid': userForm.get('email')?.valid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)
                    }"
                    formControlName="email"
                    required
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="userForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
                  </div>
                  <button class="btn btn-sm border-warning rounded mt-2" (click)="returnStep()"><i class="fas fa-step-backward fa-sm text-warning fa-fw"></i></button> &nbsp;
                  <button class="btn btn-sm btn-primary mt-2" (click)="nextStep()">Next</button>
                </div>
              </form>

              <!-- Step 6: Review and Confirm Booking -->
              <div *ngIf="currentStep === 6" class="mt-3">
                <h5>Review Your Booking:</h5>
                <p><strong>Booking Number:</strong> {{ bookingNumber }}</p>
                <p><strong>Room Type:</strong> {{ selectedRoomType }}</p>
                <p><strong>Room Price:</strong> ${{ selectedRoomPrice }} <strong>Total Price:</strong> ${{ selectedRoomPrice * days }}</p>
                <p><strong>Region:</strong> {{ regionName }}</p>
                <p><strong>Hotel:</strong> {{ selectedHotelName }}</p>
                <p><strong>Start Date:</strong> {{ startDate | date:'mediumDate' }}</p>
                <p><strong>End Date:</strong> {{ endDate | date:'mediumDate' }}</p>
                <p><strong>Days:</strong> {{ days }}</p>
                <p><strong>First Name:</strong> {{ firstname }}</p>
                <p><strong>Last Name:</strong> {{ lastname }}</p>
                <p><strong>Email:</strong> {{ email }}</p>
                <div *ngIf="bookingStatus !== 'success'" class="d-grid mt-3">
                  <button class="btn btn-sm btn-primary" (click)="bookRoom()">Confirm Booking</button>
                </div>
                <!-- Booking Status Message -->
                <div *ngIf="bookingStatus" class="mt-3 alert" [ngClass]="{
                  'alert-success': bookingStatus === 'success',
                  'alert-danger': bookingStatus === 'failed' || bookingStatus === 'error'
                }">
                  <p *ngIf="bookingStatus === 'success'">
                    <strong>Booking Successful!</strong> Your booking has been confirmed.
                  </p>
                  <p *ngIf="bookingStatus === 'failed'">
                    <strong>Booking Failed.</strong> Please try again.
                  </p>
                  <p *ngIf="bookingStatus === 'error'">
                    <strong>Error Occurred.</strong> Please try again later.
                  </p>
                </div>
              </div>
            </div>

            <!-- Complaints/Inquiry process -->
            <div *ngIf="userChoice === 'Complaints/Inquiry'" class="mt-4">
              <div *ngIf="currentStep === 1" class="mb-3 text-start">
                <span class="badge badge-sm bg-light text-dark">Click 'Yes' for inquiry or 'No' for complaints about a booking</span>
                <div class="d-flex position-relative justify-content-start">
                  <button (click)="handleYesNo('Yes')" class="btn btn-sm btn-primary m-2">Yes</button>
                  <button (click)="handleYesNo('No')" class="btn btn-sm btn-outline-secondary rounded-circle m-2">No</button>
                </div>
              </div>
              <form [formGroup]="userForm">
                <div *ngIf="currentStep === 2 && isInquiry" class="mb-3">
                  <div class="form-group form-floating m-2">
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Your fullname"
                    formControlName="fullname"
                    [ngClass]="{'is-invalid': userForm.get('fullname')?.invalid && (userForm.get('fullname')?.dirty || userForm.get('fullname')?.touched),
                      'is-valid': userForm.get('fullname')?.valid && (userForm.get('fullname')?.dirty || userForm.get('fullname')?.touched)
                    }"
                    >
                    <div class="invalid-feedback">
                      <small *ngIf="userForm.get('fullname')?.errors?.['minlength']">Last name must be at least 4 characters long.</small>
                    </div>
                    <label for="Your fullname">Your fullname</label>
                  </div>
                  <div class="form-group form-floating m-2">
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Your phone number"
                    formControlName="phone"
                    [ngClass]="{'is-invalid': userForm.get('phone')?.invalid && (userForm.get('phone')?.dirty || userForm.get('phone')?.touched),
                      'is-valid': userForm.get('phone')?.valid && (userForm.get('phone')?.dirty || userForm.get('phone')?.touched)
                    }"
                    >
                    <div class="invalid-feedback">
                      <small *ngIf="userForm.get('phone')?.errors?.['required']">phone number is required.</small>
                      <small *ngIf="userForm.get('phone')?.errors?.['minlength']">Enter a 10 digit of your phone valid number.</small>
                    </div>
                    <label for="Your phone number">Your phone number</label>
                  </div>
                  <div class="form-group form-floating m-2">
                    <textarea
                    class="form-control form-control-sm"
                    formControlName="inquiryText"
                    placeholder="Enter your inquiry"
                    [ngClass]="{'is-invalid': userForm.get('inquiryText')?.invalid && (userForm.get('inquiryText')?.dirty || userForm.get('inquiryText')?.touched),
                      'is-valid': userForm.get('inquiryText')?.valid && (userForm.get('inquiryText')?.dirty || userForm.get('inquiryText')?.touched)
                    }"
                    (keyup.enter)="nextStep()"
                    >
                  </textarea>
                  <div class="invalid-feedback">
                    <small *ngIf="userForm.get('inquiryText')?.errors?.['required']">Please enter your inquiry.</small>
                    <small *ngIf="userForm.get('inquiryText')?.errors?.['minlength']">Inquiry needs at least 10 characters long of message.</small>
                  </div>
                  <label for="inquiryTextarea">Enter your inquiry</label>
                  </div>
                <button
                  class="btn btn-sm btn-primary m-2"
                  [disabled]="userForm.get('fullname')?.invalid || userForm.get('phone')?.invalid || userForm.get('inquiryText')?.invalid"
                  (click)="nextStep()"
                  >
                  next
              </button>
                </div>
                <div *ngIf="currentStep === 3 && isInquiry" class="mb-3 form-floating">
                  <input
                  type="text"
                  class="form-control"
                  id="bookingNumberInput"
                  placeholder=""
                  formControlName="bookingNumber"
                  [ngClass]="{'is-invalid': userForm.get('bookingNumber')?.invalid && (userForm.get('bookingNumber')?.dirty || userForm.get('bookingNumber')?.touched),
                      'is-valid': userForm.get('bookingNumber')?.valid && (userForm.get('bookingNumber')?.dirty || userForm.get('bookingNumber')?.touched)
                    }"
                  (keyup.enter)="nextStep()"
                  >
                  <div class="invalid-feedback">
                    <small *ngIf="userForm.get('bookingNumber')?.errors?.['required']">Book number is required.</small>
                  </div>
                  <label for="bookingNumberInput">Enter your booking number</label>
                </div>

                <div *ngIf="currentStep === 4" class="mb-3 text-start">
                  <span class="badge badge-sm bg-light text-dark">Click 'Yes' if you have more details or 'No' to submit your complaint</span>
                  <div class="d-flex position-relative justify-content-start">
                    <button (click)="yesNo('Yes')" class="btn btn-sm btn-primary m-2">Yes</button>
                    <button (click)="yesNo('No')" class="btn btn-sm btn-outline-secondary rounded-circle m-2">No</button>
                  </div>
                </div>
                <div *ngIf="currentStep === 5" class="mb-3 form-floating">
                  <textarea
                  class="form-control"
                  id="additionalDetailsTextarea"
                  placeholder=""
                  formControlName="additionalDetails"
                  (keyup.enter)="nextStep()">
                </textarea>
                  <label for="additionalDetailsTextarea">Enter additional details</label>
                </div>
                <div *ngIf="currentStep === 5" class="d-grid">
                  <button class="btn btn-primary" (click)="nextStep()">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
